body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f8fb;
}

header {
  text-align: center;
  background-image: url(img/RurqKDM.jpeg);
  padding: 40px;
  color: white;
}

.button {
  background-color: #007bff;
  border-radius: 5px;
  color: white;
  padding: 5px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #0056b3;
}

.features {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.feature {
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.feature:hover {
  transform: scale(1.1);
}

footer {
  background-color: grey;
  padding: 10px;
  text-align: center;
  color: white;
}
